<div>
  <h2 id="page-heading" data-cy="EtudiantHeading">
    <span>Etudiants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etudiant"
        [routerLink]="['/etudiant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Etudiant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etudiants?.length === 0">
    <span>No etudiants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etudiants && etudiants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom"><span>Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="matricule"><span>Matricule</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomNiveau.nomNiveau"><span>Nom Niveau</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFiliere.nomFiliere"><span>Nom Filiere</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPays.nomPays"><span>Nom Pays</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etudiant of etudiants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etudiant', etudiant.id, 'view']">{{ etudiant.id }}</a>
          </td>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          <td>{{ etudiant.matricule }}</td>
          <td>{{ etudiant.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="etudiant.nomNiveau">
              <a [routerLink]="['/niveau', etudiant.nomNiveau?.id, 'view']">{{ etudiant.nomNiveau?.nomNiveau }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etudiant.nomFiliere">
              <a [routerLink]="['/filiere', etudiant.nomFiliere?.id, 'view']">{{ etudiant.nomFiliere?.nomFiliere }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etudiant.nomPays">
              <a [routerLink]="['/pays', etudiant.nomPays?.id, 'view']">{{ etudiant.nomPays?.nomPays }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etudiant', etudiant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etudiant', etudiant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(etudiant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="etudiants && etudiants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
